# --extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision
diffusers[torch]==0.19.3
xformers==0.0.24
transformers
bitsandbytes
decord
pytorch-lightning<2
omegaconf
nerfacc
trimesh
pyhocon
icecream
PyMCubes
accelerate
modelcards
einops
ftfy
piq
matplotlib
opencv-python
imageio
imageio-ffmpeg
scipy
pyransac3d
torch_efficient_distloss
tensorboard
rembg
segment_anything
